extends layout

block content
  h1= title
  p Welcome to #{title}. My name is Haritha Kumpati
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each houses, index in items
        div(class="col-sm-2" onclick=`buy(${index+1})`) #{houses.house_name} - #{houses.house_color} - $#{houses.house_cost}
  
  script.
    function buy(index){
      alert(`You purchased item ${index}`);
    }